:root {
        --ic-brand-primary-darkened-5: #0E0E0E;
--ic-brand-primary-darkened-10: #0D0D0D;
--ic-brand-primary-darkened-15: #0C0C0C;
--ic-brand-primary-lightened-5: #1A1A1A;
--ic-brand-primary-lightened-10: #262626;
--ic-brand-primary-lightened-15: #323232;
--ic-brand-button--primary-bgd-darkened-5: #CD181F;
--ic-brand-button--primary-bgd-darkened-15: #B7161C;
--ic-brand-button--secondary-bgd-darkened-5: #5F6063;
--ic-brand-button--secondary-bgd-darkened-15: #555659;
--ic-brand-font-color-dark-lightened-15: #2E2E2E;
--ic-brand-font-color-dark-lightened-28: #4E4E4E;
--ic-link-color-darkened-10: #C2171D;
--ic-link-color-lightened-10: #DB3036;
--ic-brand-primary: #0e0e0e;
--ic-brand-font-color-dark: #0a0a0a;
--ic-link-color: #d71920;
--ic-brand-button--primary-bgd: #d71920;
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #636568;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #0a0a0a;
--ic-brand-global-nav-ic-icon-svg-fill: #bcbbba;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #d71920;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #0e0e0e;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_93220000000000001/attachments/5951/nav-logo.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1952845620&Signature=P9PjAPsLGtXTD0mSG4cl5iqfbeM%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_93220000000000001/attachments/5952/favicon.ico?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1952845846&Signature=PVjKhU8se27c5%2FPp3l8JFFEy2tk%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #f2f2f2;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #f2f2f2;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_93220000000000001/attachments/5958/login-logo.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1952854562&Signature=q3gm6%2FEJhsfWy8FZPMIxGO7GTfA%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-Login-Content-bgd-color: #ffffff;
--ic-brand-Login-Content-border-color: #f2f2f2;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #444444;
--ic-brand-Login-Content-password-text-color: #d71920;
--ic-brand-Login-footer-link-color: #d71920;
--ic-brand-Login-footer-link-color-hover: #980017;
--ic-brand-Login-instructure-logo: #ffffff;
      }